.genres {
  font-size: 32px;
  color: skyblue;
  display: flex;
  flex-wrap: wrap;
}

.genres div {

  font-size: 24px;
  background-color: salmon;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-left: 0.5rem;
}